body p {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

body h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    padding-bottom: 20px;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.theme-primary-bg-color {
    background-color: white;
}

.container {
    position: relative;
    text-align: center;
    color: white;
}

.nav-container {
    padding: 15px;
}

#carouselExampleSlidesOnly img {
    height: 856px;
}


/* #carouselExampleSlidesOnly h1 {
    padding-bottom: 400px;
}

#carouselExampleSlidesOnly p {
    padding-bottom: 100px;
} */

.caption-container {
    font-size: 64px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.25;
    text-align: left;
    position: absolute;
    left: 286.844px;
    top: 516.226px;
    width: 500px;
    /* z-index: 245; */
}


/* .We_Do_Big_Things__With_Big_Ideas_ {
    font-size: 64px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.25;
    text-align: left;
    position: absolute;
    left: 386.844px;
    top: 416.226px;
    z-index: 245;
} */

.carousel-caption text-left {
    padding-bottom: 400px;
    text-align: left;
}

.Rectangle_2 {
    background-color: rgb(167, 169, 254);
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1923px;
    height: 856px;
    z-index: 242;
}