.container {
    width: 20%;
    margin: 10px auto;
}

.isotope-menu {
    text-align: center;
}

.isotope-menu ul li {
    display: block;
    margin: 0;
    list-style: none;
    padding: 10px 15px;
    cursor: pointer;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    color: black;
}

.isotope-menu ul li:hover {
    background: tomato;
    color: black;
}

.isotope-item {
    width: 10%;
}

.isotope-item .item {
    width: 100px;
    float: left;
    margin-bottom: 10px;
}

li.active {
    background: rgb(250, 183, 2);
    color: #ffffff;
}